.siteHeader_Wrapper{
    background-color: black;
    height: 100vh;
    width: 90%;
    .siteMenuBar{
       
    
    li{
        padding: 10px 20px;
        text-align: center;
        a{
            font-size: 23px;
        }
    }
}
}
